# Operaciones Matemáticas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_london = pd.read_csv('london_merged.csv')

In [3]:
df_london.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

Cambiamos timestamp a fecha

In [4]:
df_london['timestamp'] =  pd.to_datetime(df_london['timestamp'])

In [5]:
df_london['hour'] = df_london['timestamp'].dt.hour
df_london

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

Cogemos las variables sólo de tipo numéricas

In [6]:
df = df_london.iloc[:,1:]
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

## Operaciones

In [7]:
# Potencia
df['weather_code']**2
# Seno
np.sin(df)

# Resta
df['t1'] - df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

## Operaciones complejas con lambda

In [8]:
def f(x):
    y = x**2 + 1
    return y

In [9]:
f(10)

101

In [10]:
np.arange(-5,6)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [11]:
f(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

### Apply
Aplicamos funciones dentro de pandas

In [12]:
df['hour'].apply(f)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [13]:
def f2(x, a=1, b=0):
    y = x**2 + a*x + b
    return y

In [14]:
f2(10)
f2(10, a=10, b= 20)

220

In [15]:
df['hour'].apply(f2, args= (20,-100))
df['hour'].apply(f2, a=20,b=-100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

In [16]:
df['t1'].apply(lambda x: x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [17]:
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

### ApplyMap
Permite ejecutar la función para cada columna

In [18]:
df.applymap(lambda x: x / 1000)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,0.182,0.0030,0.0020,0.0930,0.0060,0.003,0.0,0.001,0.003,0.000
1,0.138,0.0030,0.0025,0.0930,0.0050,0.001,0.0,0.001,0.003,0.001
2,0.134,0.0025,0.0025,0.0965,0.0000,0.001,0.0,0.001,0.003,0.002
3,0.072,0.0020,0.0020,0.1000,0.0000,0.001,0.0,0.001,0.003,0.003
4,0.047,0.0020,0.0000,0.0930,0.0065,0.001,0.0,0.001,0.003,0.004
...,...,...,...,...,...,...,...,...,...,...
17409,1.042,0.0050,0.0010,0.0810,0.0190,0.003,0.0,0.000,0.003,0.019
17410,0.541,0.0050,0.0010,0.0810,0.0210,0.004,0.0,0.000,0.003,0.020
17411,0.337,0.0055,0.0015,0.0785,0.0240,0.004,0.0,0.000,0.003,0.021
17412,0.224,0.0055,0.0015,0.0760,0.0230,0.004,0.0,0.000,0.003,0.022
17413,0.139,0.0050,0.0010,0.0760,0.0220,0.002,0.0,0.000,0.003,0.023